*.pbrt
*.mp4
new_arm_model/test_experiments/.tmp/*
*.txt
*.pyc
*.mat
sim2real_beam_model/weight_data_ordered/data_process.ipynb
*.npy
*.npz
*.DS_Store
*.png
*.bin
*.csv
*.pdf
cantilever_data/*
*.pt
*.zip
*.yaml
python/data_driven/wandb/*
*.pth
python/res_phys/wandb/*
.vscode/*
*.vtk
